<!DOCTYPE html>
<html lang="en">
<head th:replace="includes/header.html :: head">
</head>
<body>

<!-- Navigation-->
<div th:insert="includes/navbar.html  :: nav">  </div>
<div class="container">
    <h3 th:text="${{question.id}+'번 질문'}">#번 질문</h3>
    <hr>
    <form>
        <div class="mt-4 form-group">
            <label class="mb-2">제목</label>
            <input type="text" th:value="${question.subject}" name="subject" class="form-control" readonly="true">
        </div>
        <div class="mt-4 form-group">
            <label class="mb-2">내용</label>
            <textarea name="content" th:text="${question.content}" class="form-control" rows="3" readonly="true"></textarea>
        </div>
        <div class="mt-4 form-group">
            <label class="mb-2">생성 일자</label>
            <input type="text" th:value="${question.create_date}" name="subject" class="form-control" readonly="true">
        </div>
        <div class="mt-4 form-group">
            <label class="mb-2">수정 일자</label>
            <input type="text" th:value="${question.modify_date}" name="subject" class="form-control" readonly="true">
        </div>
    </form>
    <button class="mt-4 btn btn-primary mb-2" th:onclick="|location.href='@{/question/modify/{questionId}(questionId=${question.id})}'|" >수정하기</button>
</div>
</body>
<script>
</script>
</html>
